---
layout: default
---

<div class="home">

    <div class="row pack">

        {% for post in paginator.posts %}
       <div class="col-md-4 card ">
       <article class="post-{{post.main-class}}">
              <div class="panel panel-default">
                    <div class="panel-body">
                        <article class="post-{{post.main-class}}">
                        <span class="ribbon  "><span  class="post-{{post.main-class}}" >

<a class="post-{{post.main-class}}" >
                            {{post.main-class}}
                            </a>
                            </span>

                         </span>
                        </article>
                        <div class="box-body">
                               <meta itemprop="datePublished" content="{{post.date | date_to_xmlschema }}">
                                            <time datetime="{{ post.date | date_to_xmlschema }}">
                        {% include post-date.html %}  </time>
                    <a class="post-link " href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }} </h2>
                    </a>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    <div class="index">
                        <p class="description">{{ post.introduction }}</p>
                    </div>
                    </a>

                     <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary btn-sm pull-right mt10">Ler mais</a>
                        </div>
                    <div class="tags">

                        {% for tag in post.tags %}
                            <a class="tags-{{post.main-class}}" href="/tags/#{{tag | slugify }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
              </div>
              </article>
            </div>
          {% endfor %}

    </div>

<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Voltar</a></li>
          {% else %}
            <li><span>&laquo; Voltar</span></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><span><em>{{ page }}</em></span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Próxima  &raquo;</a></li>
          {% else %}
            <li><span >Próxima &raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    <div class="col-md-4">  </div>
</div>
</div>