
    <section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/images/blog-author.jpg" alt="Matheus Francisco">
        <p class="def">Autor</p>
        <h3 class="name">
            <a itemprop="name" href="http://github.com/matheusfrancisco">Matheus Francisco</a>
        </h3>
        <p class="desc"><span itemprop="jobTitle">Estudante de Engenharia de Computação</span> e  louco por programação.</p>
        <a class="email" href="https://github.com/matheusfrancisco">github.com/matheusfrancisco</a>
    </div>
</section>