<header class="site-header">
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Brand e toggle get agrupados para melhor exibição móvel -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Navegação</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
      <img class="coffe" src="/images/svg/coffe.svg" alt="coffe" />

      <a class="navbar-brand" href="{{site.baseurl}}/">{{site.title}} </a>
    </div>  
    <!-- Navbar -->

    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
               <li><a href="{{site.baseurl}}/about/">Sobre min</a></li>
               <li><a href="{{site.baseurl}}/contact/">Contato</a></li>
               <li><a href="{{site.baseurl}}/search/">Pesquisar</a></li>
          </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
</header>
