<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="hDZbkg60DDDnuwwktvyNddwr4rfaFuFF1SR8PFK8oY0" />
<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Social Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{site.twitter_username}}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    {% if page.image %}
    <meta property="twitter:image:src" content="{{ site.url }}{{page.image }}">
    {% else %}
    <meta property="twitter:image:src" content="{{ "/images/blog-author.jpg" | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}

      <!-- Social: Facebook / Open Graph -->
    <meta property="fb:admins" content="100002557991443" >
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:image:height" content="387" />
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{page.image }}">
    {% else %}
    <meta property="og:image" content="{{ "/images/blog-author.jpg" | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">


    <!-- Social Google+/Schema.org  -->
    <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta itemprop="image" content="{{ "/images/blog-author.jpg" | prepend: site.baseurl | prepend: site.url }}"/>

     <!-- Social Linkedin -->
    <meta name="linkedin:card" content="summary_large_image">
    <meta name="linkedin:site" content="@{{site.linkedin_username}}">
    <meta name="linkedin:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="linkedin:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    {% if page.image %}
    <meta property="linkedin:image:src" content="{{ site.url }}{{page.image }}">
    {% else %}
    <meta property="linkedin:image:src" content="{{ "/images/blog-author.jpg" | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}



<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>


{% seo %}


<style>
          {% capture include_to_scssify %}
          {% include main.scss %}
          {% endcapture %}
          {{ include_to_scssify | scssify }}

</style>


<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
