img {
    max-width: 100%;
}

.mt50 {
    margin-top: 50px;
}
.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;

}
.navbar-brand {
    font-weight: 900;
    font-size: 1.85em;
    padding: 10px;
    @media screen and (max-width: $on-palm) {
        font-size: 1.5em;
    }
}
.post-meta {
    color: $grey-color;
}

.panel {
    border:none;
    box-shadow: 0px 0px 1px $grey-color;
}

.panel:hover {
    box-shadow: 0px 0px 6px $grey-color;
}


footer {
    border-top: 1px solid $grey-color-light;
}

.social {
    list-style: none;
    display: inline;
    margin-left: 10px;
    padding: 5px 8px;
    }
.social:hover {
     opacity: 0.7;
}
.social img {
    width: 20px;
}

.quora img{
    width: 17px;
}

.facebook img {
    width: 16px;
}
.linkedin img {
    width: 16px;
}
.recent ul {
    list-style: none;
    padding: 0;
    text-align: justify;
}

.recent {
    padding: 10px;
    border: 1px solid $grey-color-light;
}

.post-img img {
    width: 100%;
}


.pack {


    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.card {
    float: none;

}


.author{background:#b5aeae;display:table;width:100%;padding:2.5rem 0;margin:2.5rem 0;}@media only screen and (min-width:37.5rem){.author{padding:3.125rem 0}}.author .details{margin:auto;max-width:50rem;padding:0 1.25rem;}@media only screen and (max-width:37.5rem){.author .details{text-align:center}}.author img{border-radius:50%;display:block;margin:auto;}@media only screen and (min-width:37.5rem){.author img{float:left;margin-right:3.125rem}}.author .def{color:#808080;font-size:1.125rem;font-family:'Open Sans',sans-serif;font-weight:300;font-style:normal;margin:.625rem;}@media only screen and (min-width:37.5rem){.author .def{margin:0;padding-top:1.563rem}}.author .name{margin:0;}.author .name a{font-family:'Open Sans',sans-serif;font-weight:800;font-style:normal;text-decoration:none;color:#000;font-size:1.875rem;}.author .name a:hover{color:#005f97}@media only screen and (min-width:37.5rem){.author .name a{font-size:2.813rem}}.author .desc{font-family:'Open Sans',sans-serif;font-weight:300;font-style:normal;margin:.625rem;font-size:1rem;}@media only screen and (min-width:37.5rem){.author .desc{font-size:1.25rem}}.author .email{text-decoration:none;color:#005f97;}

